<%= form_for @toss do |f| %>
	<ul>
		<%= @toss.errors.full_messages.each do  |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<%= f.label :team_a , "Name:" %>
<%= f.text_field :team_a %>


<%= f.radio_button(:team_a, "team_a") %>
<%= f.label(:team_a, "team_a") %>
<br />
<%= f.radio_button(:team_a, "team_b") %>
<%= f.label(:team_b, "team_b") %>
	<p>
		<%= f.submit 'Bet'%>
	</p>
<% end %>




