<%= form_for @toss do |f| %>
	<ul>
		<%= @toss.errors.full_messages.each do  |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
	<p>
		<%= f.radio_button :toss, "1", id: 'teama' %> 
		<%= f.label :team_a, "Team A" %>
		<%= f.number_field :team_a, name: 'f1' %>
	</p>
	<p>
		<%= f.radio_button :toss, "0", id: 'teamb' %> 
		<%= f.label :team_b, "Team B" %>
		<%= f.number_field :team_b, name: 'f2' %>
	</p>
	
	
	<p>
		<%= f.submit 'Bet'%>
	</p>
<% end %>




