<%= form_for @toss do |f| %>
	<ul>
		<%= @toss.errors.full_messages.each do  |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
	<p>
		<%= f.radio_button :team_a, 'team_a' %> 
  		<%= f.label :team_a, 'Team A', :value => 'team_a' %>
  		<%= f.number_field :team_a %>
 	</p>
	<p>
		<%= f.radio_button :team_a, 'team_a' %>
		<%= f.label :team_b, 'Team B', :value => 'team_b' %>
		<%= f.number_field :team_b %>
	</p>
	<p>
		<%= f.submit 'Bet'%>
	</p>
<% end %>


 